<h3>User List</h3>

<div class="card">
  <div class="card-body">
    <table class="table table-bordered data-table">
      <thead>
        <tr>
          <th>#</th>
          <th>User</th>
          <th>Email</th>
          <th>Location</th>
          <th>Age</th>
          <th>Preference</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
          <tr>
            <td>{{@index}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.location}}</td>
            <td>{{this.age}}</td>
            <td>{{this.cat_pref}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>