<h3>Tourisms List</h3>

<div class="text-end mb-4">
  <a
    href="#"
    data-bs-toggle="modal"
    data-bs-target="#tourism-modal"
    class="btn btn-primary"
  >Add Tourism</a>
</div>
<div class="card">
  <div class="card-body">
    <table class="table table-bordered data-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Image</th>
          <th>Place Name</th>
          <th>City</th>
          <th>Category</th>
          <th>Price</th>
          <th>Rating</th>
          <th>Act</th>
        </tr>
      </thead>
      <tbody>
        {{#each tourisms}}
          <tr>
            <td>{{@index}}</td>
            <td><img
                src="https://storage.googleapis.com/mytravel_bucket/places/{{this.picture}}"
                alt=""
                class="rounded avatar-md"
              /></td>
            <td>{{this.name}}</td>
            <td>{{this.city}}</td>
            <td>{{this.category}}</td>
            <td>{{this.price}}</td>
            <td>{{this.rating}}</td>
            <td>
              <a
                href="/tourisms/edit/{{this.id}}"
                class="btn btn-outline-primary btn-sm waves-effect waves-light"
              ><i class="las la-edit"></i></a>
              <a
                href="/tourisms/delete/{{this.id}}"
                onclick="return confirm('Are you sure delete this data ?')"
                class="btn btn-outline-danger btn-sm waves-effect waves-light"
              ><i class="las la-trash-alt"></i></a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<div
  class="modal fade"
  id="tourism-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <form action="" method="POST" enctype="multipart/form-data">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Tourism</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group mb-3">
            <label for="">Place Name </label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter place name"
              name="name"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label for="">Image</label>
            <input
              type="file"
              class="form-control"
              placeholder=""
              name="file"
            />
          </div>
          <div class="form-group mb-3">
            <label for="">Description</label>
            <textarea
              class="form-control"
              name="description"
              id=""
              cols="30"
              rows="10"
              required
            ></textarea>
          </div>
          <div class="form-group mb-3">
            <label for="">Category</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter place name"
              name="category"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label for="">City</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter city"
              name="city"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label for="">Price</label>
            <input
              type="number"
              class="form-control"
              placeholder="Masukkan price"
              name="price"
              required
            />
          </div>
          <div class="form-group mb-3">
            <label for="">Coordinate</label>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="latitude">Latitude</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter latitude"
                    name="latitude"
                    id=""
                    required
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="longitude">Longitude</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter longitude"
                    name="longitude"
                    id=""
                    required
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>