<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div
      class="page-title-box d-sm-flex align-items-center justify-content-between"
    >
      <h4 class="mb-sm-0">Analytics</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a
              href="javascript: void(0);"
            >Dashboards</a></li>
          <li class="breadcrumb-item active">Analytics</li>
        </ol>
      </div>

    </div>
  </div>
</div>
<!-- end page title -->

<div class="row">
  <div class="col-md-4">
    <div class="card card-animate">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            <p class="fw-medium text-muted mb-0">Users</p>
            <h2 class="mt-4 ff-secondary fw-semibold"><span
                class="counter-value"
                data-target="{{data.user}}"
              >{{data.user}}</span></h2>
            <p class="mb-0 text-muted">
              Total active users</p>
          </div>
          <div>
            <div class="avatar-sm flex-shrink-0">
              <span class="avatar-title bg-soft-info rounded-circle fs-2">
                <i data-feather="users" class="text-info"></i>
              </span>
            </div>
          </div>
        </div>
      </div><!-- end card body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->

  <div class="col-md-4">
    <div class="card card-animate">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            <p class="fw-medium text-muted mb-0">Tourist attraction</p>
            <h2 class="mt-4 ff-secondary fw-semibold"><span
                class="counter-value"
                data-target="{{data.place}}"
              >{{data.place}}</span></h2>
            <p class="mb-0 text-muted">
              Total tourist attractions listed</p>
          </div>
          <div>
            <div class="avatar-sm flex-shrink-0">
              <span class="avatar-title bg-soft-info rounded-circle fs-2">
                <i class="text-info ri-map-pin-fill"></i>
              </span>
            </div>
          </div>
        </div>
      </div><!-- end card body -->
    </div>
    <!-- end card-->
  </div>
  <div class="col-md-4">
    <div class="card card-animate">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            <p class="fw-medium text-muted mb-0">Regions</p>
            <h2 class="mt-4 ff-secondary fw-semibold"><span
                class="counter-value"
                data-target="{{data.city}}"
              >{{data.city}}</span></h2>
            <p class="mb-0 text-muted">
              Total registered area</p>
          </div>
          <div>
            <div class="avatar-sm flex-shrink-0">
              <span class="avatar-title bg-soft-info rounded-circle fs-2">
                <i class="text-info ri-map-2-fill"></i>
              </span>
            </div>
          </div>
        </div>
      </div><!-- end card body -->
    </div>
    <!-- end card-->
  </div>
  <!-- end col-->
</div>
<!-- end row-->